  <form [formGroup]="group">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">{{field.label}}</label>
    <input
    [formControlName]="field.name"
      type="email"
      class="form-control"
      id="exampleInputEmail1"
    />
    <div class="mt-1 text-danger" *ngFor="let validation of field.validations;">
      <p class="mb-0" *ngIf="group.get(field.name).touched && group.get(field.name).hasError(validation.name)">{{validation.message}}</p>
    </div>
  </div>
</form>
